@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: cursiveFont;
  src: url("/GreatVibes-Regular.ttf");
  }

@font-face {
  font-family: Dongle;
  src: url("/Dongle-Regular.ttf");
}

@font-face {
  font-family: Signika;
  src: url("/Signika-Regular.ttf");
}

.tab-page {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  padding: 2.5%;
  font-family: "cwTeXYen", Signika, "Segoe UI", sans-serif;
  color: #fff;
  background-color: rgba(191, 191, 191, 0.07);
  border-radius: 0.5em;
}

.div-page{
  margin: 2% auto;
  width: 97%;
  padding: 2.5%;
  background-color: rgba(191, 191, 191, 0.1);
  border-radius: 0.5em;
}

.return-btn {
  display: flex;
  width: 90%;
  margin: 2% auto;
  padding: 20px;
  place-content: flex-end;
}

h1 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 2%;
}
  
h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #82cbf0;
}

h4 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color:rgb(150, 180, 230);
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
  line-height: 1.5;
}

ul {
  list-style: disc;
  margin: 0;
  padding: 20px;
}

ol {
  list-style: decimal;
  margin: 0;
  padding: 20px;
}

li {
  line-height: 1.3;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid #fff;
  text-align: center;
  padding: 5px;
}

.title {
  padding: 2% 2% 2% 2%;
  text-align: left;
}

.touch:hover {
  cursor: pointer;
  color: #00aeff;
  text-decoration: underline;
}

@keyframes text-flicker {
  0% {
    opacity: 0.7;
  }
  2% {
    opacity: 0.5;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 0.3;
  }

  12% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  55% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.2;
  }
}

@media (max-width: 2000px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2.0em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.4em;
  }

  li {
    font-size: 1.2em;
  }

  td, th {
    font-size: 1.4em;
  }
}


@media (max-width: 1100px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }

  li {
    font-size: 1.0em;
  }

  td, th {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1.0em;
  }

  p {
    font-size: 1.0em;
  }

  li {
    font-size: 1.0em;
  }

  td, th {
    font-size: 1.0em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.0em;
  }

  h4 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }

  li {
    font-size: 0.8em;
  }

  td, th {
    font-size: 0.8em;
  }
}

